<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd"
            default-init-method="myInit" default-destroy-method="cleanUp">
<!-- FOR ALL POST PROCESSORS -->
     <context:annotation-config/>

	
	<bean id="helloBean" class="com.kavish.common.HelloWorld">
		<property name="name" value="Kavish" />
	</bean>
 	<bean id="OutputHelper" class="com.kavish.common.OutputHelper">
<!--  <property name="outputGenerator" ref="XMLOutputGenerator" /> -->
		<constructor-arg>
			<ref bean="JsonOutputGenerator" />
		</constructor-arg>
		
	</bean>
 
	<bean id="JsonOutputGenerator" class="com.kavish.common.JsonOutputGenerator" />
	<bean id="XMLOutputGenerator" class="com.kavish.common.output.generator.XMLOutputGenerator" />
	<!-- PROVIDING NAME ALSO -->
	<!-- <bean id = "triangle" class = "com.kavish.common.Triangle" name="triangle-name"> -->
	<!-- AUTOWIRE -->
	<!-- BEAN DEFINATION INHERITANCE PARENT -->
	<bean id = "parentTriangle" class = "com.kavish.common.Triangle">
	<property name ="pointA" ref = "zeroPoint"/>
	</bean>
	<bean id = "triangle" class = "com.kavish.common.Triangle" parent="parentTriangle">
	<!-- INNER BEAN -->
	<property name ="pointB">
	<bean class="com.kavish.common.Point">
	<property name="x" value = "20"/>
	<property name="y" value = "0"/>
	</bean>
	</property>
	<property name ="pointC" ref = "PointThree"/>
	
	</bean> 
	<bean id = "zeroPoint" class="com.kavish.common.Point">
	<qualifier value="circleRelated"/>
	<property name="x" value = "${pointA.pointX}"/>
	<property name="y" value = "${pointA.pointY}"/>
	</bean>
	
	<bean id = "PointThree" class="com.kavish.common.Point">
	<property name="x" value = "0"/>
	<property name="y" value = "20"/>
	</bean>
	<!-- ALIAS FOR TRIANGLE -->
	<alias name = "triangle" alias="triangle-alias"/>
	
	
	<bean id = "triangle1" class = "com.kavish.common.Triangle" parent="listPoints" init-method="myInit" destroy-method="cleanUp">
	<property name="points">
	<!-- ADD ELEMENT TO LIST MERGE -->
	<list merge="true">
	<ref bean="PointThree"></ref>
	</list>
	</property>
	</bean>
	<bean id = "listPoints" class="com.kavish.common.Triangle">
	<property name="points">
	<list>
	<ref bean="zeroPoint"></ref>
	</list>
	</property>
	</bean>
	<bean class = "com.kavish.common.DisplayNameBeanPostProcessor"/>
	
	<!-- PROPERTY PLACE HOLDER -->
	<bean class ="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
	<property name="locations" value="MyPropertyFile.properties"></property>
	</bean>
	
	<bean id = "circle" class = "com.kavish.common.Circle">
	<property name="center" ref ="zeroPoint" />
	</bean>
	
	<!-- REQUIRED ANNOTATION -->
	
	<bean class = "org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/>
	
	<!-- FOR AUTOMATIC SCANNING OF COMPONENT -->
	<context:component-scan base-package="com.kavish.common"></context:component-scan> 

<!-- READING PROPERTY FILE VIA APPLICATION CONTEXT -->
<bean id = "messageSource"  class="org.springframework.context.support.ResourceBundleMessageSource">
<property name = "basenames">
<list>
<value>myMessage</value>
</list>
</property>
</bean>
</beans>